h1 {
  color: var(--bege);
  text-align: center;
  grid-column: span 2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  background-color: var(--terracota);
  font-size: 1.3rem;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.imageContainer {
  width: 30%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formDiv {
  width: 70%;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 80%;
  color: var(--bege);
}

.formLabel {
  display: block;
  margin-bottom: 5px;
}

.formControl {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--bege);
  font-size: 1.1rem;
  color: var(--brown);
  padding: 15px;
}

textarea {
  grid-column: span 2;
  resize: vertical;
  min-height: 100px;
}

span {
  display: block;
  color: var(--dark-orange);
  margin-top: 5px;
}

.divLogin {
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.pLogin {
  display: inline;
  color: var(--light-orange);
  font-size: 1.1rem;
}

.spanLogin {
  color: var(--dark-orange);
  display: inline;
  cursor: pointer;
  margin-left: 5px;
}

.submitError {
  grid-column: span 2;
  color: var(--dark-orange);
  text-align: center;
}

.errorMessage {
  font-size: 0.9rem;
}

.btnLogin, .btnDelete,
.btnRegister {
  height: 50px;
  width: 100%;
  border-radius: 12px;
  font-size: 1.3rem;
  color: var(--brown);
}

.btnLogin, .btnDelete {
  border: 1px solid var(--light-orange);
  background-color: var(--light-orange);
}

.btnRegister {
  grid-column: span 2;
  border: 1px solid var(--dark-orange);
  background-color: var(--dark-orange);
}
