h1 {
  color: var(--terracota);
  padding: 20px;
}

h2 {
  padding-top: 20px;
}

h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

span {
  margin-bottom: 20px;
}

.container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.localContainer {
  margin-left: 18vw;
  margin-right: 10px;
}

.formDiv {
  width: 80vw;
  position: fixed;
}

table {
  font-size: 0.9rem;
  border: 2px solid var(--dark-orange);
  
}

table tr:nth-child(odd) {
  background-color: var(--bege);
}

table tr:nth-child(even) {
  background-color: var(--light-blue);
}

table td, table th {
  padding: 5px; 
}
