h1 {
  color: var(--bege);

}

.container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.localContainer {
  margin-left: 18vw;
  margin-right: 10px;
}

.formDiv {
  width: 80vw;
  position: fixed; 
}

table {
  font-size: 0.9rem;
}



